# Module 2 Exercises - Explore Data

### Exercise 1:
Use the pandas library to read in the file "travel-times.csv" as a dataframe. Set the dataframe's variable name as "travel_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [4]:
import pandas as pd
import numpy as np

In [32]:
location = "datasets_travel_times.csv"
travel = pd.read_csv(location)

In [33]:
travel.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

### Exercise 2:

Use the pandas library to read in the file "income_expenses.xlsx" as a dataframe. Set the dataframe's variable name as "expense_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [9]:
import pandas as pd
import numpy as np

In [34]:
location = "Expense_df.xlsx"
expense = pd.read_excel(location) #overwrites the info from the df variable in the examples above
expense.head()

  Income Range                    Category  Amount Class_level
0     $100-200                        Rent   26.43        Poor
1     $100-200                        Food   59.81        Poor
2     $100-200                     Clothes   38.95        Poor
3     $100-200                       Taxes    0.14        Poor
4     $100-200  Other Expenses and Savings   13.77        Poor

### Exercise 3:
Using the lists in the cell below, write code that will zip up the lists and make them into one list, then turn it into a dataframe. Next, export the dataframe as a csv file. Then try exporting the dataframe as an Excel file.

In [20]:
names = ['Nike','Adidas','New Balance','Puma','Reebok']
grades = [176,59,47,38,99]
GradeList = list(zip(names,grades))

In [22]:
df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
df.to_csv('studentgrades.csv',index=False,header=False)

### Exercise 4:

What columns are in the travel_df dataframe? What columns are in the expense_df dataframe?

In [35]:
travel.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [36]:
expense.columns

Index(['Income Range', 'Category', 'Amount', 'Class_level'], dtype='object')

### Exercise 5:

Using the expense_df dataframe, sum the expense amount using the group_by function by income range.

In [38]:
expense['Amount'].groupby(expense['Income Range']).sum()

Income Range
$100-200      139.10
$1000+       1125.00
$200-300      249.45
$300-400      335.68
$400-500      433.82
$500-750      557.00
$750-1000     880.00
Name: Amount, dtype: float64

### Exercise 6:

Using the travel_df dataframe and pivot_table function, get the average total time by day of the week and direction traveled (Home/GSK).

In [40]:
pd.pivot_table(travel, values=['TotalTime'], index=['DayOfWeek', 'GoingTo'])

                   TotalTime
DayOfWeek GoingTo
Friday    GSK      37.628571
          Home     38.238462
Monday    GSK      44.747368
          Home     41.725000
Thursday  GSK      40.204167
          Home     42.345000
Tuesday   GSK      42.079167
          Home     42.962500
Wednesday GSK      42.087500
          Home     44.300000

### Exercise 7:

Choose either the travel_df or expense_df and do some exploratory analysis.

In [41]:
travel.shape

(205, 13)

In [43]:
travel.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [44]:
travel.AvgSpeed

0       78.3
1       81.8
2       82.0
3       74.2
4       83.4
5       84.5
6       82.9
7       77.5
8       80.9
9       70.6
10      74.0
11      71.7
12      75.2
13      77.4
14      77.5
15      76.5
16      86.9
17      71.1
18      80.5
19      68.1
20      75.1
21      76.6
22      74.8
23      65.4
24      65.7
25      87.3
26      74.0
27      74.6
28      76.5
29      79.9
       ...
175     74.5
176     74.1
177     70.3
178     71.5
179     72.2
180     71.5
181     76.3
182     68.8
183    107.7
184     73.2
185     76.0
186     69.1
187     68.3
188     70.4
189     43.7
190     71.9
191     70.4
192     63.4
193     75.8
194     88.9
195     81.5
196     58.6
197     75.7
198     92.2
199     82.3
200     49.9
201     76.2
202     57.5
203     61.6
204     62.8
Name: AvgSpeed, Length: 205, dtype: float64